.App {
  text-align: center;
  font-family: sans-serif;
  font-size: small;
  display: table;
  width: 100%;
  height: 100%;
  background: #ccc;
}
.innerContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
}

.centeredContent {
  display: inline-block;
  background: #fff;
  border: 1px solid #000;
  overflow: auto;
  height: 280px;
  min-height: 280px;
  max-height: 280px;
}

.tableHeading th {
  /* position: sticky;
  top: 0; */
}
tr {
  height: 40px !important;
}

div.sidebar {
  position: absolute;
  padding: 5px 0px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgba(0, 151, 19, 0.8);
}

table {
  border-collapse: collapse;
}
th,
td {
  /* border-right: 1px solid #000000; */
  text-align: center;
}
th {
  background: rgba(0, 151, 19, 0.8);
  color: rgb(255, 255, 255);
}
th:nth-child(2) {
  width: 170px;
  min-width: 170px;
}
th:nth-child(3) {
  width: 150px;
  min-width: 150px;
}
th:nth-child(4) {
  width: 230px;
  min-width: 230px;
}
th:nth-child(5) {
  width: 230px;
  min-width: 230px;
}
th:nth-child(6) {
  width: 160px;
  min-width: 160px;
}

td:nth-child(1) {
  background-color: #e9fac8;
}
td:nth-child(2) {
  background-color: #d8f5a2;
}
td:nth-child(3) {
  background-color: #c0eb75;
}
td:nth-child(4) {
  background-color: #a9e34b;
}
td:nth-child(5) {
  background-color: #94d82d;
}
td:nth-child(6) {
  background-color: #82c91e;
}
@media only screen and (max-width: 600px) {
  .centeredContent {
    display: inline-block;
    background: #fff;
    border: 1px solid #000;
    overflow: auto;
    height: 483px;
    min-height: 483px;
    max-height: 483px;
    width: 100vw;
  }
}
