.App {
  text-align: center;
  font-family: sans-serif;
  overflow: auto;
  height: 100vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 0px auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
div.stickyTop {
  position: absolute;
  font-size: 16px;
  height: 100%;
  width: 5vw;
  text-align: left;
  background: rgba(0, 151, 19, 0.1);
}
/* div.stickyBottom {
  position: fixed;
  bottom: 0;
  padding: 8.5px;
  font-size: 16px;
  width: 100vw;
  background: rgba(0, 151, 19, 0.1);
} */
