.App {
  text-align: center;
  font-family: sans-serif;
  /* overflow: auto;
  max-height: 464px;
  height: 464px; */
}
.tableFixHead {
  overflow: auto;
  height: 464px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
}
th {
  background: #eee;
}

div.sidebar {
  position: fixed;
  top: 23px;
  left: 0;
  padding: 5px;
  font-size: 16px;
  width: 100vw;
  text-align: center;
  background: rgba(0, 151, 19, 0.8);
}
